<h{{ title.level|default('2') }}{% if title.modifier %}class="{{ title.modifier }}{% endif %}">
  {% if title.url %}
    <a href="{{ title.url }}" class="title__link">
      {{ title.title }}
    </a>
  {% else %}
    {{ title.title }}
  {% endif %}
</h{{ title.level|default('2') }}>
