{% if url %}
  <a href="{{ url }}" class="button{{ modifier ? ' ' ~ modifier }}">
    {{ text }}
  </a>
{% else %}
  <button class="button{{ modifier ? ' ' ~ modifier }}">{{ text }}</button>
{% endif %}
